.secondSlideBg {
  background-image: url('../../../assets/secondSlideBg.svg');
  position: absolute;
  left: 1390px;
  top: 74px;
  width: 1253px;
  height: 679px;
  z-index: 22;
  opacity: 0;
  animation: aniOut 1s forwards;
}

.secondSlideBg.onSlide {
  animation: ani 3.5s forwards;
}

@keyframes ani {
  from {
    opacity: 0;
    transform: translate(100px, 100px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes aniOut {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
  to {
    opacity: 0;
    transform: translate(100px, 100px);
  }
}
